
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Articulo</title>
</head>
<body>

    <h4>Datos del artículo</h4>
    <hr />´s
    Codigo: <input value="@Model.Codigo" /><br />
    Nombre: <input value="@Model.Nombre" /><br />
    Precio: <input value="@Model.Precio" /><br />


</body>
</html>
