
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bienvenida</title>
</head>
<body>
    <form>
        <div style="text-align:center">
        <h2>Bienvenidos a Villamigos</h2>
        <h2>¡Donde todo es posible!</h2>
         <br />
        <h3>Ejecutandose en @ViewBag.framework</h3>
        <h3>El día @ViewBag.Hoy</h3>
        </div>
    </form>

</body>
</html>
