
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MasaCorporal</title>
</head>
<body>

    <form>

        <h3>Calculo de Indice de Masa Corporal</h3>
        Peso (kg): <input name="peso" /><br /><br />
        Altura (mts): <input name="altura" /><br /><br />
        <input type="submit" value="calcular!" />

    </form>
    <br />
    Indice Calculado: @ViewBag.Indice


</body>
</html>
