
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Multiplicar</title>
</head>
<body>


    @for (int i = 1; i <= 10; i++)
{
    <h4>
        @i X @ViewBag.Multiplicador = @(i* ViewBag.Multiplicador)
    </h4>
}

</body>
</html>
